doctype html
html
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='robots', content='index,follow')
    meta(name='format-detection', content='telephone=no')
    title 加藤研究室-東洋大学
    meta(name='keywords', content='東洋大学 加藤, 東洋大学 加藤研究室, 加藤研究室, 加藤ゼミ, 心理とスポーツとIT研究室, 東洋大学 心理とスポーツとIT研究室, 東洋大学, 東洋大学 心理, 加藤千恵子, 綿貫慶徳, 菅原徹, 渋谷英雄')
    meta(name='description', content='当研究室は、東洋大学川越キャンパスにある総合情報学部総合情報学科の学生と教員によって構成されている研究室です。')
    meta(name='twitter:card', content='summary')
    //- meta(name='twitter:image', content=ogp)
    //- meta(name='twitter:url', content=site.domain + directory)
    meta(name='twitter:description', content='当研究室は、東洋大学川越キャンパスにある総合情報学部総合情報学科の学生と教員によって構成されている研究室です。')
    meta(name='twitter:title', content='加藤研究室-東洋大学')
    meta(property='og:description', content='当研究室は、東洋大学川越キャンパスにある総合情報学部総合情報学科の学生と教員によって構成されている研究室です。')
    meta(property='og:site_name', content='加藤研究室-東洋大学')
    meta(property='og:locale', content='ja_JP')
    meta(property='og:type', content='website')
    //- meta(property='og:image', content=ogp)
    //- meta(property='og:url', content=site.domain + directory)
    meta(property='og:title', content='加藤研究室-東洋大学')
    link(rel='shortcut icon', href='/assets/images/favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='/assets/images/apple-touch-icon.png')

    link(rel='stylesheet', href='/assets/styles/app.css')
  body
    .l-wrapper.p-top__wrapper
      header.p-top__header
        .l-container
          h1.p-top__header__title.u-mB5 KATO LAB.
          p.p-top__header__subtitle 心理とスポーツとIT研究室
      main.p-top__main
        .l-container
          nav.p-top__nav: ul
            include data/_pages
            each item in pages
                li.p-top__nav__item: h2: a(href=item.link)=item.name
        .p-top__bgSP
          img.u-hidePC(src='/assets/images/apple-white.png')
      .p-top__bgPC.u-hideSP
        .p-top__bgPC__overlay
      .u-hideSP.p-top__copyright 
        p Created by MM
      .l-footer.u-hidePC
        .l-footer__inner
          .copyright: p Created by MM
