extends ../layout/_pages

block title
  title Research @加藤研究室-東洋大学
  meta(name='description', content='Research/加藤研究室')

block styles
  link(rel='stylesheet', href='/assets/styles/app.css')

block content
  h1.main__title
    span.initial R
    | esearch
    span.ja -研究一覧-
  .p-research
    .main__section
      p 当研究室では<b>スポーツ, 心理, IT</b>の3ジャンルに渡る様々なテーマの研究活動を行っています。
      p.u-mT10 また、フィットネス器具の開発、バリアフリー環境の整備など、産学連携の共同研究にも取り組んでいます。
      p.c-caption 産学連携の研究には★をつけています。
    .main__section
      h3 2017年度
      .main__table
        h4 心理
        ul
          -
            var item = [
                {
                  title: 'バウムテスト3枚法と各種性格検査の関連性', author: '松村、田才'
                },
                {
                  title: 'レゴブロックを用いた心理実験法の提示', author: '岡田、渡邉、土屋'
                },
                {
                  title: '写真撮影とポジティブ感情の形成について', author: '沼畑、鈴木、岡村'
                },
                {
                  title: '初対面の会話時における聞き手にコンピテンシーに関する研究', author: '早坂、高長'
                },
                {
                  title: '大学生の自己肯定感に関する研究 -対面コミュニケーションに着目して-', author: '斎藤、佐々木'
                },
                {
                  title: '緊急災害時における情報伝達手段の提案~明度・彩度・輝度に着目して~', author: '久原、落合'
                },
                {
                  title: '人相の言葉による表現方法の分類と表現効率の解析', author: '宮本、池上、三浦'
                },
                {
                  title: '音楽聴取がポジティブ感情に与える影響‐曲の如何なる要素がwell-beingに作用するのか‐', author: '武内、境野、後藤'
                },
                {
                  title: '感性価値の可視化に関する研究~大学生の衣類選択行動に着目して~', author: '大安、沼田、張替'
                }
              ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author
      .main__table
        h4 スポーツ
        ul
          -
            var item = [
              {
                title: '学生ラグビー選手を対象としたヨーガによる競技意欲の維持・向上に関する研究', author: '平原、新井'
              },
              {
                title: 'モーションキャプチャを用いたプレースキックの動作解析', author: '池幡、佐々木、古川'
              },
              {
                title: '大学陸上競技選手の心理的競技能力の向上に関する研究', author: '唐本、山下、鏑木、根元'
              },
              {
                title: '大学生を対象とした筋力トレーニングに関する調査研究-心理的サポートによるモチベーションの維持・向上に着目して-', author: '小川、永井'
              },
              {
                title: 'パラリンピックの研究調査 -車椅子バスケ,ブラインドサッカー,ゴールボール,ボッチャに注目して', author: '鳥谷、配島'
              },
              {
                title: 'EMS運動機器の継続的使用が心理に及ぼす影響', author: '高橋、西村、臼井', isCollaborate: true
              },
              {
                title: 'EMS運動機器の継続的使用が体組成に及ぼす影響', author: '齋藤、大川、當間', isCollaborate: true
              },
              {
                title: 'スナッグゴルフを用いたゴルフ練習のモチベーションの維持・向上に関する研究', author: '大田、宮沢、今野、矢口', isCollaborate: true
              },
              {
                title: '視覚障がい者誘導用ブロックのユニバーサル化に関する研究', author: '山本、羽田', isCollaborate: true
              }
            ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author

    .main__section
      h3 2016年度
      .main__table
        h4 心理
        ul
          -
            var item = [
              {
                title: '会話満足度の要因と社会的スキルとの関連性', author: '山下、恩田'
              },
              {
                title: '災害緊急時における情報伝達手段の提案　-カラーバリアフリーに着目して-', author: '永井、樋口、島村'
              },
              {
                title: '笑顔の表出量と幸福度の関連性', author: '佐藤、土井'
              },
              {
                title: '容貌に基づく曖昧な人物像の魅力評価', author: '鈴木'
              },
              {
                title: '色と作業効率の関連性', author: '伊藤、安岡、村島'
              },
              {
                title: '異文化理解促進に向けたジェスチャーの印象評価', author: '川崎、小林'
              },
              {
                title: 'フォントデザインの印象評価', author: '狩野、外山'
              },
              {
                title: 'フェティシズムに関する一考察　-フロイト派とユング派の相違に着目して-', author: '小澤'
              },
              {
                title: '味と香りに関する資格的表現手法の提案', author: '富所、細井、大村'
              }                                                    
            ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author
      .main__table
        h4 スポーツ
        ul
          -
            var item = [
              {
                title: '大学ラグビー選手の試合中における心理状態の可視化', author: '矢部、中川、坂本'
              },
              {
                title: '出生順位と性格・スポーツ経験の関連性', author: '谷野、片桐、中澤'
              },
              {
                title: 'EMS運動機器の継続的使用が心理・生理に及ぼす影響', author: '石井、小林', isCollaborate: true
              },
              {
                title: 'パラリンピックの印象向上に関する研究'
              }
            ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author
      
    .main__section
      h3 2015年度
      .main__table
        h4 心理
        ul
          -
            var item = [
                {
                  title: '各種性格検査と各種描画療法との関連', author: '深谷、塚超、永井'
                },
                {
                  title: '描画療法の客観的測定方法の開発', author: '堀口'
                },
                {
                  title: '箱庭と風景構成法における類似性について～内田クレペリン検査をもちいて～', author: '秋庭、西田'
                },
                {
                  title: '色弱者のためのスマートフォンアプリデザイン', author: '山田、櫻井'
                },
                {
                  title: '笑顔と作業効率の関連性', author: '吉見、軽石、永藤'
                },
                {
                  title: '眉毛形状と配置が顔の印象に及ぼす影響', author: '小林、菅谷、河野'
                },
                {
                  title: 'コミュニケーション能力が高い人に共通する仕草', author: '古橋、石井、長南'
                },
                {
                  title: 'ロゴマークのデザインにおける印象評価', author: '守江、矢澤'
                },
                {
                  title: '名言の定義に関する研究', author: '香川、岡本'
                },
                {
                  title: '時と場所と場合に合わせた化粧の仕方の研究', author: '山田、宇野、愛須'
                },
                {
                  title: '販促アプリデザインと操作性向上についての研究', author: '齊藤、佐藤'
                },
                {
                  title: 'ピクトグラムの現状と改善に向けての考察', author: '梅澤、関口、高橋'
                },
                {
                  title: '「あがり」がパフォーマンスに及ぼす影響とその対応策', author: '川崎、臼杵'
                }
              ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author
      .main__table
        h4 スポーツ
        ul
          -
            var item = [
              {
                title: 'スポーツ競技における笑顔の役割について', author: '山岸'
              },
              {
                title: '陸上競技選手の性格特性と心理的競技能力の関連性', author: '高野、吉田'
              },
              {
                title: 'バスケットボールのフリースローにおける緊張とパフォーマンスに関する研究', author: '奈良、谷、植田'
              },
              {
                title: 'スポーツオノマトペの指導法とその効果～野球とサッカーを事例にして～', author: '原、中野'
              },
              {
                title: 'バレーボールにおけるルーティンサーブに及ぼす影響について', author: '小荷田、吉田、鈴木'
              }            
            ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author

      .main__table
        h4 IT
        ul
          -
            var item = [
              {
                title: 'Android端末を利用した性格検査アプリケーションの開発', author: '鳥越'
              }
            ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author
    .main__section
      h3 2014年度
      .main__table
        h4 心理
        ul
          -
            var item = [
                {
                  title: '信頼されるために必要な要素', author: '山本、島田'
                },
                {
                  title: '嘘の見抜き方～嘘と表情・仕草の関連性～', author: '新垣、山田'
                },
                {
                  title: '色弱者の人に分かりやすいデザインの提案', author: '石川、佐川'
                },
                {
                  title: '音が与える心身への影響', author: '加藤、小林、田中、飯塚、大坪'
                },
                {
                  title: '人間の肌とネクタイの色の組み合わせによる印象評価', author: '渕端、伊藤'
                },
                {
                  title: '表情とハンドポーズの組み合わせの印象に関する研究', author: '小野、茨城'
                },
                {
                  title: '高齢化に向けた心理テストの効率化', author: '八木、阪後、三上'
                },
                {
                  title: '色彩が作業能率に与える影響について', author: '鈴木、石井'
                }
              ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author
    .main__section
      h3 2013年度
      .main__table
        h4 心理
        ul
          -
            var item = [
                {
                  title: '描画テストと色彩分析による性格検査', author: '永沼'
                },
                {
                  title: 'うつ傾向の人における形式分析', author: '関根'
                },
                {
                  title: '欺瞞行為（嘘）のメカニズムの解明', author: '櫻田'
                },
                {
                  title: '１/Fゆらぎの音の快適性の研究', author: '小林'
                },
                {
                  title: '音響環境下の前頭前野に関する考察～内田クレペリン精神作業負荷検査を用いて～', author: '田中、小澤'
                },
                {
                  title: 'バーバルコミュニケーションとノンバーバルコミュニケーションがもたらす影響', author: '赤羽'
                },
                {
                  title: 'PVにおける感性評価', author: '本間、島田'
                },
                {
                  title: '車のフロントのマスクデザインと印象に関する研究', author: '羽部、飯野'
                },
                {
                  title: '文字色と背景色の関係性と安全色彩の効果', author: '石丸、他沢'
                },
                {
                  title: '空間と色彩におけるリラクゼーション効果について', author: '山本、小川'
                },
                {
                  title: '山の風景が心身に与える影響について', author: '渡邉、内村'
                },
                {
                  title: 'コーポレートカラーが消費者に与える影響とその分析', author: '識名、鈴木'
                }
              ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author
      .main__table
        h4 スポーツ
        ul
          -
            var item = [
              {
                title: 'ヨーガ実践時におけるリラックス効果', author: '甲田、小澤'
              }
            ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author
    
    .main__section
      h3 2012年度
      .main__table
        h4 心理
        ul
          -
            var item = [
                {
                  title: 'カラーバリアフリーの視点から見る効果的な広告の考察', author: '堀口、前川'
                },
                {
                  title: '笑顔の多様性と印象の分析', author: '齊藤、鈴木'
                },
                {
                  title: '照明の角度による表情の印象評定の変化', author: '白石、永野、河合'
                },
                {
                  title: '気仙沼に関する心理調査分析', author: '井上、杉田'
                },
                {
                  title: 'Webホームページの構造分析に基づくレイアウト設計', author: '小室、木村'
                },
                {
                  title: '色によって表される国家の印象', author: '中村'
                },
                {
                  title: '自動車のフロントマスク感性評価', author: '道券'
                },
                {
                  title: '二色配色の感情効果と性格特性の関係', author: '秦、松井、出口'
                }
              ]
          each val in item
            li
              p 
                span #{val.isCollaborate ? '★' : ''}
                | #{val.title}
              p.main__table__auth=val.author