extends index

block styles
  link(rel='stylesheet', href='../../styles/pages/faculties-item.css')
  link(href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet")

block content
  +item(0)

mixin item(num)
  include ../../includes/_faculties
  - var teacher = faculties[num]; //ここ変えるだけ
  .right__article__body__summary
    img.right__article__body__summary__icon(src=`../../images/${teacher.image}`)
    .right__article__body__summary__text
      h2.right__article__body__summary__text__name=teacher.name
        span=teacher.position
      .right__article__body__summary__text__field 専攻: #{teacher.field}
      .right__article__body__summary__text__contact 連絡先: #{teacher.address}
        a(href=`mailto:${teacher.address}`).right__article__body__summary__text__contact__mail
          i.right__article__body__summary__text__contact__mail__icon.icon.ion-ios-send
          .right__article__body__summary__text__contact__mail__caption メールを送信する
  .right__article__body__section
    h3.right__article__body__section__title 自己紹介文
    p=teacher.introduction