extends _pages

block title
  title Faculties
  meta(name='description', content='Faculties/加藤研究室')

block styles
  link(rel='stylesheet', href='/styles/pages/faculties-item.css')

block content
  h2.main__title <span>F</span>aculties
  .main__body
    include ../data/_faculties
    block teacher
      - var teacher = faculties[0];
    .main__section__top
      img(src=`/images/${teacher.image}`)
      h3=teacher.name
          span=teacher.position
    .main__section
      h3 専攻
      p #{teacher.field}
      h3 連絡先
      p: a.c-link(href=`mailto:${teacher.address}`)=teacher.address
      h3 自己紹介文
      p=teacher.introduction
      block add